
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  #home .card{
    color: #000;
  }
  .card{
    border: 1px solid black;
  }

#about h6{
  line-height: 30px;
}
#resume-container{
  background-color: #4e342e;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  
}
#resume{
  display: block;
  
  min-height: 300px;
  background-color: #424242;
  border-radius: 10px;
  padding-bottom: 30px;

}
#resume div:nth-child(1){
  display: block;
  height: 20px;
  width: 100%;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}
#resume p{
  font-size:1.1rem;
  line-height: 25px;
}
.brand-logo{
  font-family: 'Pacifico', cursive;


}